button {
	-webkit-appearance: none;
	display: block;
	border-radius: $radius-small;
	border: 1px solid $color-mid-grey;
	padding: 4px 6px;
	background-color: $color-light-grey;

	&:hover,
	&.gallery--nav--selected {
		background-color: $ui-color-selected;
	}

	em {
		font-style: normal;
		font-size: smaller;
		color: $color-dark-grey;
	}
}
