.gallery {
	position: fixed;
	z-index: 20;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: $ui-color-gallery-canvas;

	&--content {
		position: absolute;
		z-index: 21;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		display: flex;
		justify-content: center;
	}

	&--asset {
		position: relative;
		display: flex;
		flex-direction: row;
		height: 100%;

		img,
		video {
			border: 3px solid transparent;
		}
	}

	&--asset--video {
		background-color:rgba($color-black, 0.8);
	}

	&--hud &--content--selected {
		img,
		video {
			border-color: $ui-color-selected;
		}
	}

	&--reduced {
		top: auto;
		height: 150px;
	}

	img,
	video {
		max-height: 100%;
		max-width: 100%;
		width: auto;
		height: auto;
		align-self: center;
	}

	.video-tools {
		position: absolute;
		right: 4px;
		top: 4px;
	}

	.video-tools {
		display: flex;

		button {
			margin: 0 3px;
		}
	}
}
