$color-black: #333;
$color-light-grey: #eee;
$color-mid-grey: rgb(202, 202, 202);
$color-dark-grey: #888;

$ui-color-text: $color-black;
$ui-color-gallery-canvas: rgba(100, 100, 100, 0.7);
$ui-color-selected: rgb(250, 199, 31);

$radius-small: 3px;

$shadow-small: 4px 4px 0 $color-dark-grey;
